.nav-item-text {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s linear;
}

.nav-item-hover:hover .nav-item-text {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 768px) {
    body {
        margin-left: 110px;
    }
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        width: 110px;
    }
}
@media (min-width: 768px) {
    .nav-brand-image {
        width: 100%;
    }
}

.jstree-default-dark {
    background: #222
}

.jstree-default-dark .jstree-anchor {
    color: #ffffff;
}

.tree-icon-class {
    padding: 2px;
}