.nav-item-text {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s linear;
}

.nav-item-hover:hover .nav-item-text {
    visibility: visible;
    opacity: 1;
}


.navbar-dark .navbar-nav .nav-link.active {
    color: #d9b100;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #d9b100;
}


@media (min-width: 768px) {
    body {
        margin-left: 110px;
    }
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        width: 110px;
    }
}
@media (min-width: 768px) {
    .nav-brand-image {
        width: 100%;
    }
}

.jstree-default-dark {
    background: #303030
}

.jstree-default-dark .jstree-anchor {
    color: #ffffff;
}

.tree-icon-class {
    padding: 2px;
}

.card-header-actions {
    display: inline-block;
    float: right;
    margin-right: -0.25rem;
}

.card-header-action {
    cursor: pointer !important;
    padding: 0 0.25rem !important;
    color: var(--dark) !important;
}

.card-header-action:hover {
    color: var(--dark-grey) !important;
    text-decoration: none !important;
}

.vakata-context li>a {
    padding: 0em 2em 0em 0.5em !important;
    /* background-color: var(--gray-dark) !important; */
}

.vakata-context li>a .vakata-contextmenu-sep {
    padding-left: 5px !important;
    background: transparent !important;
    border-left: none !important;
}


.context-menu {
    background-color: #202020;
}



.context-menu-option, .context-menu-submenu, .context-menu-disabled {
    color:#dddddd;
}


.bg-primary {
    background-color:#444444!important;
}