

.button_21 button.bk-btn.bk-btn-default {
	background-color: #b3b3b3;
	font-weight: bold;
	border-style:solid;
}

.group_button_21 label.bk-btn.bk-btn-default {
	background-color: #b3b3b3;
	font-weight: bold;
	border-style:solid;
}

.group_button_21 label.bk-btn.bk-btn-default.bk-active {
	background-color: #d9d9d9;
	font-weight: bold;
	border-style:solid;
}

.multi_select_21 select.bk-widget-form-input {
	background-color: #d9d9d9;
	width:200px;
}

.dropdown_21  {
    color : #000000;
}




.tabs_21 .bk-nav-tabs>li>span {
    background-color: #b3b3b3;
}



.tabs_21 .bk-nav {
    border-color:#1a1a1a;
    background-color: #ffffff;
}
